/*@import url('https://fonts.googleapis.com/css?family=ShadowsIntoLight'); 
  @charset "UTF-8"; */



/* Styling of wordings */
.wordstyle1 {
  color: rgb(55, 42, 228);
  font-size: 30px;
}  

 .wordstyle2 {
  color: rgb(52, 56, 52);
  font-weight: bold;
  font-size: 20px;
}  

 .wordstyle3 {
  color: rgb(76, 36, 221);
  font-weight: bold;
  font-size: 20px;
}  

 .wordstyle4 {
  color: Yellow;
  font-size: 20px;
}  

.wordstyle5 {
  color: rgb(85, 31, 235);
  font-weight: bold;
  font-size: 20px;
}  


/* Background of the Welcome.blade.php */
.backwrapper {
 background-image: url("/images/WelcomeBackground.jpg");
 background-repeat: repeat;
 background-position: center;

 
}


/* Background of the resources/views/blog/show.blade.php */
.backwrapper2 {
  background-image: url("/images/ShowBlogBackground.jpg");
  
 }


/* Format of a Container Size */
 .containersize1 {
  max-width: 2000px;
}

.containersize2 {
  max-width: 1000px;
  justify-content: center;
}


 /* Format of the display picture of your blog */
.blogpicsize1 {
  width: 550px;
  height: 200px;
  border: 5px solid rgb(253, 247, 247);
 }
